<div class="lg:flex lg:gap-x-12 max-lg:hidden text-[16px] text-gray-900 font-semibold">
    <a href="#" class="hover:text-terracotta-600">
      Inicio
    </a>
    <a href="#" class="hover:text-terracotta-600">
      Sobre mí
    </a>
    <a href="#" class="hover:text-terracotta-600">
      Tecnologías
    </a>
    <a href="#" class="hover:text-terracotta-600">
      Proyectos
    </a>
    <a href="#" class="hover:text-terracotta-600">
      Contacto
    </a>
</div>