---
import { Button } from "../commons/Button";
import { Switch } from "../commons/Switch";
import { Drawer } from "../Drawer";
import { MobileMenuButton } from "../MobileMenuButton";
import Menu from "../Menu.astro";

let enabled = true;
let isOpen = false;

const openDrawer = () => {
  console.log('openDrawer');
  isOpen = true;
}
---

<header class="bg-white shadow-2xl m-5 rounded-3xl fixed inset-x-1 top-1">
  <nav aria-label="Global" class="mx-auto flex items-center justify-between p-6 lg:px-8">
    <div class="max-lg:hidden lg:flex lg:flex-1 ">
      <a href="#" class="-m-1.5 p-1.5">
        <h2 class='text-3xl font-bold text-terracotta-600'> &gt; SermarDev</h2>
      </a>
    </div>
    <div class="lg:hidden text-gray-900">
      <MobileMenuButton client:load />
    </div>
    <Menu/>
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <Switch client:load checked={enabled} type='dark'/>
    </div>
  </nav>
</header>
