---
import Navigator from "../components/template/Navigator.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio-Sermarmar</title>
	</head>
	<body class="font-mono">
		<Navigator/>
		<main>
			<slot />
		</main>
		<!--
		<footer>
			<p>&copy; 2025 Sergio Martín. Todos los derechos reservados.</p>
		</footer>
		-->
	</body>
</html>
